# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# My ignored files for Lab00
Lab00/.vs
Lab00/bin
Lab00/obj

# My ignored files for Lab01
Lab01/.vs
Lab01/bin
Lab01/obj
Lab01/TestResults
Lab01_ProblemPlecakowyApp/bin
Lab01_ProblemPlecakowyApp/obj
Lab01_UnitTests/bin
Lab01_UnitTests/obj